{% extends "base.html" %}


{% block title %}

JackpotSone.com - provides free football tips and predictions, jackpot analysis, free analysis, football form and statistics, Sportpesa Jackpot,  Prediction site, Correct football matches prediction, Sportpesa games today, sportpesa games analysis, Winning sports tips| Best football prediction, Analysis and tips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}


<h2 style="color: red" align = "center" >
	Jackpot Analysis
</h2>

<h3 style="color: violet; font-style: italic; font-family: Helvetica" align = "center">
	WE DO HAVE SPORTPESA JACKPOT ANALYSIS WITH <font style="color: Limegreen; font-size: 120%">2 ODDS</font> DAILY AT <font style="color: Limegreen; font-size: 120%">KSH.700</font>  FOR MONTHLY SUBSCRIPTIONS
</h3>
<img src="/static/images/sportpesa.jpg"  style="width:100%; max-height: 300px" />

<h4 style="color: maroon" align = "left" >
	What is the SportPesa Mega Jackpot?
</h4>

<p align = "left">
  The Mega Jackpot is a weekly jackpot with 17 pre-selected games that usually play over the weekend.
</p>
<p align = "left">
  The cash prize for the Mega Jackpot starts at Sh100,000,000 and the amount progresses every week until it is won.
</p>
<p align = "left">
  Mega Jackpot is equally shared among all the winners. Bonuses are awarded for 12 ,13,14,15 and 16 correct predictions.
</p>
<p align = "left">
  You can place as many bets as you wish on the Mega Jackpot and each bet costs Sh100.
</p>

<h4 style="color: maroon" align = "left" >
	What is the SportPesa Midweek Jackpot?
</h4>

<p align = "left">
  The Midweek Jackpot is a weekly jackpot with 13 pre-selected games that usually play over the weekdays.
</p>
<p align = "left">
  The cash prize for the Midweek Jackpot starts at Sh10,000,000 and the amount progresses every week until it is won.
</p>
<p align = "left">
  Midweek Jackpot is equally shared among all the winners. Bonuses are awarded for 10, 11 and 12 correct predictions.
</p>
<p align = "left">
  You can place as many bets as you wish on the Midweek Jackpot and each bet costs Sh100.
</p>

<!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4096370,4,24,200,50,00011111']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4096370&101" alt="counter free hit unique web" border="0"></a></noscript>
<!-- Histats.com  END  -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b38f7934af8e57442dc3c8b/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
