{% extends "base.html" %}

{% block title %}

JackpotSone - Payments

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}


<div align = "center">


<h3>
  Welcome To Vip Payment Methods
</h3>


<table style="border:1px solid black" width="50%" bgcolor="#F5FFFA">
<tr>
  <th  width="400" bgcolor="#D3D3D3" style="color:blue" >Registration Instructions</th>
</tr>
<tr>
  <td> 1. Kindly go to M-PESA menu and select Lipa na M-PESA</td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td> 2. Select Pay Bill </td>
</tr>
<tr>
  <td> 3. Enter Business Number <font style="color: red">247247</font> </td>
</tr>
<tr>
  <td> 3. Enter Account Number <font style="color: red">0230169543963</font> </td>
</tr>
<tr>
  <td> 4. Enter Amount <font style="color: red">KSH.700</font> </td>
</tr>
<tr>
  <td> 5. Press OK  </td>
</tr>
<tr>
  <td> We will subsequently activate your account promptly</td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td> After making your payment Contact us through: </td>
</tr>
<tr>
  <td style="color: red; font-family: courier; font-size: 110%; " ></font> whatsapp/sms +254798265307 </td>
</tr>

</table>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b38f7934af8e57442dc3c8b/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
