{% extends "base.html" %}


{% block title %}

JackpotSone.com - provides free football tips and predictions, jackpot analysis, free analysis, football form and statistics, Sportpesa Jackpot,  Prediction site, Correct football matches prediction, Sportpesa games today, sportpesa games analysis, Winning sports tips| Best football prediction, Analysis and tips


{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}


<h2 style="color: red" align = "center" >
	Welcome To Jackpotsone
</h2>


<p style="font-size: 18px; font-weight: bold;" align = "center" >
  We are glad to you have you here. It's our pleasure to serve you.
</p>
<p style="font-size: 18px; font-weight: bold;" align = "center">
  Jackpotsone is a perfect place for you! We do have SPORTPESA Jackpot Analysis with 2 Odds.
</p>
<p style="font-size: 18px; font-weight: bold;" align = "center">
  After your registrations kindly top up your account then contact the Admin for verifications.
</p>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b38f7934af8e57442dc3c8b/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
